{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "LCL": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "comma-spacing": [
            "error",
            { "before": false, "after": true }
        ],
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-trailing-spaces": [
            "error"
        ],
        "no-empty": [
            "warn"
        ],
        "no-console": [
            "error", 
            { 
                "allow": ["log", "error", "warn"]
            }
        ],
        "no-alert": [
            "error"
        ]
    }
}